:root {
  --search-height: 40px;
  --search-input-left-padding: 15px;
  --top-box-height: 138px;
  --search-item-height: 60px;
  --star-btn-color: #f4b828;
  --search-input-cancel-width: 17px;
  --star-tag-input-height: 110px;
  --pop-up-width: 350px;
  --pop-up-height: 300px;
  --border-color: #e9e9e9;
  --form-item-height: 40px;
  --light-border-color: #dedede;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  color: #252629;
}

html {
  overflow-y: scroll;
}

body {
  width: 100vw;
}

:root {
  overflow-y: auto;
  overflow-x: hidden;
}

div {
  display: block;
}

.tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  margin: 5px 6px;
  border-radius: 3px;
  font-size: 12px;
  background-color: rgba(217, 240, 255, 0.62);
  color: #485665;
  transition: all 0.3s;

  &:hover {
    background-color: rgb(194, 227, 250);
  }
}

img {
  object-fit: cover;
}