:root {
  --search-height: 40px;
  --search-input-left-padding: 15px;
  --top-box-height: 138px;
  --search-item-height: 60px;
  --star-btn-color: #f4b828;
  --search-input-cancel-width: 17px;
  --star-tag-input-height: 110px;
}
